{% extends 'base.html' %}

{% block head_title %}  {{ block.super }} Home {% endblock head_title %}

{% block content %}
    <h1> {{page_title}} </h1>
    <h5>About Page</h5>
    <p>User: {{ request.user }}</p>
    <p>Page Visits: {{ page_visit_count }}</p>
    <p>Page Visit Percentage: {{ page_visit_percentage }} %</p>
    <p>Total Page Visits: {{ total_visits }}</p>

    {% include 'snippets/welcome-user-msg.html' %}

{% endblock content %}


                                                                                                                                                                                                                                                                                            